.logo {
  margin-right: 93px;

  &__studio-text {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  box-sizing: border-box;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

  &__text-web {
  color: $blue-color;
}

}


