.form__modal-button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  margin-left: 123px;
  margin-right: 123px;
  cursor: pointer;

  background-color: $blue-color;
  border: 1px solid $blue-color;
  border-radius: 4px;
  box-shadow: $modal-shadow-button;
  color: $white-color;

  transition: color $cubic-bezier,
    background-color $cubic-bezier,
    box-shadow $cubic-bezier, border $cubic-bezier;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}

.form__modal-button:hover,
.form__modal-button:focus {
  background-color: $modal-button-color;
  box-shadow: $modal-shadow-button;
  border: 1px solid $modal-button-color;
}

.modal-button:active {
  color: #a7a7a7;
  background-color: #0073b5;
}
